#page-home{
    background-color:gold;
    color:rgb(30,30,30);
}
.home-page{
    padding: 50px 100px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-pic{
    border-radius: 50%;
    margin-bottom: 20px;
    height: 300px;
    width: 300px;
}
.name-title h1{
    margin:0;
    font-family: "Roboto Flex";
    font-size: 50px;
    text-align: center;
}
.name-title h2{
    margin:0;
    font-family: "Roboto Flex";
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}
.name-title p{
    margin:0;
    font-family: "Roboto Flex";
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
}
hr{
    margin-bottom:50px;
}
.button{
    width:auto;
    border: none;
    border-radius: 20px;
    background-color: gold;
    color:black;
    font-family: "Bebas Neue";
    font-size: 25px;
    font-weight: 500;
    padding: 12px 10px;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.2);;
    text-decoration: none;
}
.button:hover{
    background-color: rgb(194, 171, 42);
}

@media(max-width:576px){
    .home-page{
        padding: 40px 70px;
        margin-bottom: 20px;
    }
    .profile-pic{
        height: 275px;
        width: 275px;
    }
    .name-title h1{
        font-size: 40px;
    }
    .name-title h2{
        font-size: 30px;
    }
    .name-title p{
        font-size: 20px;
    }
    .button{
        font-size: 20px;
    }
}
@media(max-width:500px){
    .home-page{
        padding: 30px 40px;
        margin-bottom: 17px;
    }
    .profile-pic{
        height: 250px;
        width: 250px;
    }
}

@media(max-width:420px){
    .home-page{
        padding: 30px 30px;
    }
    
    .name-title h1{
        font-size: 35px;
    }
    .name-title h2{
        font-size: 25px;
    }
    .name-title p{
        font-size: 17px;
    }
    .button{
        font-size: 17px;
    }
}
